/*************** DETALJSIDORNA ****************/
.detail-container {
    display: flex;
    justify-content: space-around;

    gap:0;
    padding:20px;
    height:auto;
}

.con-left {
    width:70%;
    background-color: #FF857A;
    font-family: "Sometype Mono", monospace;
    padding:20px;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.movie-hero {
    
}

.wes-anderson {
    width:45vh;
    height: auto;
}

.movie-hero-info {
    background-color: green;
}

.movie-hero-info h2 {
    font-size: 30px; /*selma*/
}

/*STYLE TILL KLICKBARA RUBRIKER, TILLHÖR JS*/
#movie-details {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.movie-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-content, #actors-content, #images-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 20px;
    text-align: center;
    background-color: lightgreen;
}

h5 {
    cursor: pointer;
    margin-bottom: 0;
}


/*RIGHT CONTAINER*/
.con-right {
    width:30%;
    background-color: #FFD4C9;

    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.testss {
    font-size: 2em;
}

.available-times {
    padding:5px;
    width:70%;
}

.times {
    background-color: gray;
    color:black;
}

.boka {
    margin-top:15px;
    border: 2px solid black;
    font-size:1.2em;
}

@media (max-width:750px) {
    .detail-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .con-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width:100%;
        margin-bottom: 4%;
    }

    .movie-hero {
        width:50vh;
        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom:4%;
    }

    .movie-hero-info {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .movie-hero-info h2 {
        text-align: center;
    }

    .movie-info {
        width:100%;
        padding: 20px;
        margin-top: -5%;
    }

    .boka-button {
        width:120px;
        height:45px;
        border: 2px solid white;
        border-radius: 66px;
        margin-top:5%;
        margin-bottom: 3%;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .con-right {
        width:60%;
    }

    .testss {
        margin-top: 8px;
        margin-bottom:5px;
    }
}


/*
responsivitet,
footer, 
burger,
about-actors-images


overflow:hidden, sätt värde över 100%, över viewport
overflow-x: auto;
*/