/*************** DETALJSIDORNA ****************/
.detail-container {
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
    gap:30px;
    padding:20px;
}

.con-left {
    width:55%;
    background-color: #FFCD4B;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.movie-hero {
    background-color: blue;
}

.wes-anderson {
    width:45vh;
    height: auto;
}

.movie-hero-info {
    background-color: green;
}

.movie-hero-info h2 {
    font-size: 30px; /*selma*/
}

/*STYLE TILL KLICKBARA RUBRIKER, TILLHÖR JS*/
#movie-details {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.movie-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-content, #actors-content, #images-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 20px;
    text-align: center;
    background-color: lightgreen;
}

h5 {
    cursor: pointer;
    margin-bottom: 0;
}


/**/
.con-right {
    width:33%;
    background-color: #6A2C70;

    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.testss {
    font-size: 2em;
}

.available-times {
    background-color: #fff;
    padding:5px;
    width:70%;
}

.times {
    background-color: gray;
    color:black;
}

.boka {
    margin-top:15px;
    border: 2px solid black;
    font-size:1.2em;
}

@media (max-width:550px) {

}