@import url("https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Sometype Mono", monospace;
  color: white;
  background-color: #5d59ff;
  padding: 0;
  margin: 0;
  font-size: 16px;
  position: relative;
  width: 100%;
}

a:link {
  text-decoration: none;
  color: #252525;
}

a:visited {
  text-decoration: none;
  color: #252525;
}

a:hover { /*kanske lägga till nåt fräsigt här sen*/
  text-decoration: none;
  color:#555555;
}

a:active {
  text-decoration: none;
  color:#252525;
}

.hero {
  position: absolute;
  top: 0;
  background-color: #f5f5f5;
  height: 100vh;
  width: 100%;
  background-image: url("assets/hero.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
}

.hero-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5rem 8rem;
}

.hero-title {
  max-width: 4rem;
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.logo {
  max-width: 11rem;
}

header {
  padding: 2rem 4rem;
  position: relative;
  z-index: 2;
  background-color: transparent;
}

nav {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 0;
  color: white;
  font-size: 128px;
}

h4 {
  font-size: 48px;
  margin: 2rem 0 2rem 0;
}

h6 {
  font-size: 32px;
  margin: 0;
  margin: 0.5rem 0 0.5rem 0;
}

h1,
h4,
h6 {
  letter-spacing: 0.1rem;
}

p {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  font-size: 16px;
  margin: 0;
}

button {
  font-family: "Sometype Mono", monospace;
  background-color: white;
  border: none;
  padding: 1rem;
  width: 180px;
  border-radius: 200px;
  cursor: pointer;
}

.aktuellt {
  position: relative;
  background-color: #5d59ff;
  width: 100%;
  margin-top: 84vh;
  height: 130vh;
}

.card-container {
  display: flex;
  padding: 0 4rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  white-space: nowrap;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.card-item {
  width: 663px;
  margin: 0 2rem 0 0;
}

.aktuellt-header {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.card-text {
  display: flex;
  flex-direction: column;
}

.small-button {
  font-size: 24px;
  font-weight: bold;
  width: auto;
  padding: 1rem 2rem;
}

.card-item img {
  width: 450px;
  height: 675px;
  margin-bottom: 1.5rem;
}

.kommande {
  background-color: #ff5959;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 5rem;
}

.kommande-header {
  margin-bottom: 4rem;
}

.kommande-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.kommande-item {
  width: 428px;
}

.kommande-item p {
  max-width: 385px;
}

.kommande-item img {
  max-width: 100%;
  max-height: 272px;
}

.kommande-item h6 {
  max-width: 22rem;
}

.image-frame {
  background-color: rgb(231, 231, 231);
  width: 100%;
  height: 277px;
  border-radius: 25px;
  margin-bottom: 1rem;
  background-size: cover;
  background-position: center;
}

/* bilder till kommande-sektionen */

.image-01 {
  background-image: url("assets/wild-at-heart.png");
}

.image-02 {
  background-image: url("assets/moonrise-kingdom.jpg");
}

.image-03 {
  background-image: url("assets/wild-things.jpg");
}

.image-04 {
  background-image: url("assets/hero.png");
}

.image-05 {
  background-image: url("assets/parasite.png");
}

.image-06 {
  background-image: url("assets/ghibli.png");
}

/* footer layout */

footer {
  display: flex;
  width: 100%;
  background-color: black;
  justify-content: space-between;
  padding: 2rem 4rem;
}

footer button {
  padding: 0.5rem 1rem;
  width: auto;
}

footer h6 {
  font-weight: 400;
}

.footer-links-mobile { /*selma, om biokino mid-size screen fixa*/
  display: none;
}

footer input[type="text"] {
  width: 60%;
  padding: 0.5rem 2rem;
  margin: 8px 0;
  box-sizing: border-box;
}

.erbjudande {
  padding: 3rem 12rem;
  background-color: #252525;
  text-align: center;
}

.erbjudande h6 {
  font-weight: 300;
}

@media (max-width: 1050px) {
  h1 {
    font-size: 64px;
  }

  h4 {
    font-size: 32px;
  }

  h6 {
    font-size: 24px;
  }

  button {
    padding: 0.5rem 1rem;
    width: auto;
  }
  .hero-content {
    padding: 4rem 4rem;
  }

  .card-item img {
    width: 400px;
    height: 600px;
  }
}

@media (max-width: 750px) {
  .hero-content {
    flex-direction: column;
  }

  .hero-info {
    align-items: flex-start;
  }

  h1 {
    margin-bottom: 2rem;
  }


  /** STYLE SOM GÄLLER BÅDE STARTSIDA OCH DETALJSIDA **/
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  footer h6 {
    display: none;
  }

  .footer-links-mobile {
    display: block;
    margin-top: 5%;
  }

  .footer-links-mobile span {
    cursor: pointer;
  }

  footer input[type="text"] {
    margin-top: -1%;
  } 

  form p {
    margin-top: 2%;
  }

}

/* checklist ska vara med 

STARTSIDA
-hero                 DONE
-aktuella filmer      DONE
-ett erbjudande       Selma
-kommande filmer      DONE
-signup nyhetsbrev    Selma
-footer               SEMI Selma 

DETALJSIDA
-hero med namn, bild från filmen      DONE
-knapp för att boka biljett           DONE
-info om filmen                       DONE
-bilder från filmen                   DONE - EV. FLER
-vilka datum man kan se den           SEMI
-vilka skådespelare som medverkar     DONE
-footer                               SEMI 

*/

/*************** DETALJSIDORNA ****************/
/*.detail-container {
  background-color: pink;
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  padding: 20px;
}

.con-left {
  width: 55%;
  background-color: #ffcd4b;
}

.con-right {
  width: 33%;
  background-color: #6a2c70;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.testss {
  font-size: 2em;
}

.available-times {
  background-color: #fff;
  padding: 5px;
  width: 70%;
}

.times {
  background-color: gray;
  color: black;
}

.boka {
  margin-top: 15px;
  border: 2px solid black;
  font-size: 1.2em;
}

@media (max-width: 550px) {
}*/
