@import url("https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "Sometype Mono", monospace;
  color: white;
  background-color: #5d59ff;
  padding: 0;
  margin: 0;
  font-size: 16px;
  position: relative;
}

.hero {
  position: absolute;
  top: 0;
  background-color: #f5f5f5;
  height: 100vh;
  width: 100%;
  background-image: url("assets/hero.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  padding: 5rem 8rem;
}

.hero-title {
  max-width: 4rem;
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.logo {
  max-width: 11rem;
}

header {
  padding: 2rem 4rem;
  position: relative;
  z-index: 2;
  background-color: transparent;
}

nav {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 0;
  color: white;
  font-size: 128px;
}

h4 {
  font-size: 48px;
  margin: 2rem 0 2rem 0;
}

h6 {
  font-size: 32px;
  margin: 0;
}

button {
  font-family: "Sometype Mono", monospace;
  background-color: white;
  border: none;
  padding: 1rem;
  width: 180px;
  border-radius: 200px;
}

.aktuellt {
  position: relative;
  background-color: #5d59ff;
  width: 100vw;
  margin-top: 84vh;
  height: 130vh;
}

.card-container {
  display: flex;
  padding: 0 4rem;
}

.card-item {
  width: 663px;
  height: 830px;
  margin: 0 2rem 0 0;
}

.aktuellt-header {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.card-text {
  display: flex;
  flex-direction: column;
}

.small-button {
  font-size: 24px;
  font-weight: bold;
  width: auto;
  padding: 1rem 2rem;
}

p {
  margin: 0;
}
.card-item img {
  max-height: 753px;
  max-width: 508px;
  margin-bottom: 1.5rem;
}

.kommande {
  background-color: #ff5959;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 5rem;
}

.kommande-grid {
  display: flex;
  flex-wrap: wrap;
}

.kommande-item {
  width: 432px;
}

.kommande-item img {
  max-width: 100%;
  max-height: 272px;
}

p {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  font-size: 16px;
  margin: 0;
}



/*************** DETALJSIDORNA ****************/
.detail-container {
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
    gap:30px;
    padding:20px;
}

.con-left {
    width:55%;
    background-color: #FFCD4B;
}

.con-right {
    width:33%;
    background-color: #6A2C70;

    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.testss {
    font-size: 2em;
}

.available-times {
    background-color: #fff;
    padding:5px;
    width:70%;
}

.times {
    background-color: gray;
    color:black;
}

.boka {
    margin-top:15px;
    border: 2px solid black;
    font-size:1.2em;
}

@media (max-width:550px) {

}